.white {
    color: black;
    background: white;
}
.black {
    color: white;
    background: black;
}

.heroBanner {
    position: relative;
    height: 706px;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    &__buttons {
        display: flex;
        margin: 47px 0 59px 0;
        justify-content: center;
        position: relative;
    }
    &__button {
        font-family: "DnProSemiBold";
        font-size: 22px;
        padding: 18px 53px;
        border-radius: 40px;
        width: 293px;
        text-align: center;

        margin: 0 9px 0 9px;
        position: relative;
    }
}

.logo {
    width: 76px;
    height: 33px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
}
.header {
    margin-top: 20px;

    &__content {
        position: relative;
        z-index: 5;
        width: 90%;
        margin: 0 5%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        p {
            margin-left: 7px;
            font-family: "LongJohnson";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
        }
    }
    
    nav {
        font-family: "DnProSemiBold";
        font-size: 16px;
        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            list-style: none;
            padding-inline-start: 0;
            display: flex;
            li {
                margin: 0 16px;
                cursor: pointer;
            }
        }
    }

    &__button {
        font-family: "DnProSemiBold";
        border-radius: 40px;
        color: #000000;
        border-radius: 40px;
        background-color: white;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 12px 39px;
        height: min-content;
    }
}

.heroBanner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    
    max-width: 100vw;
    h1 {
        font-family: DnProBold;
        font-size: 52px;
        width: max-content;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    p {
        margin-block-start: 0;
        margin-block-end: 0;

        margin-top: 33px;
        
        text-align: center;
        width: 800px;
        line-height: 27px;
        font-family: DnProMedium;
        font-size: 24px;
    }
    img {
        display: inline;
        position: static;

    }
}


@media screen and (max-width: 850px) {
    .heroBanner{
        &__buttons {
            display: block;
            width: 100%;
        }
        &__button {
            margin: 0 0 20px 0;
            width: 100%;
            padding: 18px 0;
        }
        &__text {
            align-items: flex-start;
            h1 {
                width: 100%;
                max-width: 500px;
                font-size: 48px;
            }
            p {
                max-width: 500px;
                width: 100%;
                text-align: left;
                font-size: 22px;
            }
        }
    }
    .header__content {
        align-items: flex-start;
    }
    nav { 
        display: none;
    }
}