@keyframes test{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
} 

.whyUsBanner--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2D9CDB 0%, #56CCF2 100%);
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &__icons {
        opacity: 0.2; 
        position: relative;
        display: flex;
        transform: translateX(-50%) rotate(-10deg);
        bottom: 5%;
        width: min-content;

        &__panel {
            flex-shrink: 0;
            width: 4230px;
            height: 150vh;
            min-height: 2000px;
            background-image: url("/image/whyUs/panel.webp");
            background-repeat: repeat;
            background-size: 846px auto;
            animation: linear 120s infinite test;
        }

    }
}

.whyUsBanner {
    position: absolute;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;    
    &__content {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100%;
        position: absolute;
        h2 {
                font-size: 78px;
                font-family: DnProSemiBold;
                line-height: 140px;
                margin-left: 164px;
                z-index: 2;
            span {
                font-size: 107px;
                font-family: LongJohnson;
            }
        }
        &__pictures {
            position: absolute;
            bottom: 0;
            right: 20px;
            width: 638px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }


}

@media screen and (max-width: 1250px) {
    .whyUsBanner__content {
        justify-content: center;
        align-items: center;

        h2 {
            margin-left: 0;
            position: relative;
            bottom: 20%;
            span {
                font-size: 100px;
            }
        }
        &__pictures {
            transform: translateX(-50%);
            left: 50%;
            width: 500px;
        }
    }
}

@media screen and (max-width: 650px) {
    .whyUsBanner__content {
        h2 {
            line-height: 110px;
            font-size: 90px;
            span {
                font-size: 80px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .whyUsBanner__content {
        h2 {
            line-height: 80px;
            font-size: 60px;

            span {
                font-size: 60px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .whyUsBanner__content {
        h2 {
            line-height: 60px;
            font-size: 40px;

            span {
                font-size: 45px;
            }
        }
    }
}