body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    overflow-x: hidden;
}

p, h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.allBlock {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

strong {
    font-family: DnProBoldItalic;
    font-weight: 100;
}

.facecat {
    position: relative;
    top: 3px;
    left: 5px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: none;
    outline: none;
    color: white;
    &:visited {
        color: white;
    }
}