@font-face {
    font-family: 'DnProBold';
    src: url('/font/DN\ Pro\ DN\ Pro\ Bold.otf') format("openType");
}
@font-face {
    font-family: 'DnProSemiBold';
    src: url('/font/DN\ Pro\ DN\ Pro\ Semi\ Bold.otf') format("openType");
}
@font-face {
    font-family: 'DnProMedium';
    src: url('/font/DN\ Pro\ DN\ Pro\ Medium.otf') format("openType");
}
@font-face {
    font-family: 'DnProLight';
    src: url('/font/DN\ Pro\ DN\ Pro\ Light.otf') format("openType");
}
@font-face {
    font-family: 'DnProBoldItalic';
    src: url('/font/DN\ Pro\ DN\ Pro\ Bold\ Italic.otf') format("openType");
}
@font-face {
    font-family: 'DnProItalic';
    src: url('/font/DN\ Pro\ DN\ Pro\ Italic.otf') format("openType");
}
@font-face {
    font-family: 'LongJohnson';
    src: url('/font/LongJohnson.otf') format("openType");
}