.firstBlock {
    margin-top: 100px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
        max-width: 55%;
        height: auto;
        align-self: center;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;
        width: 45%;
        h2 {
            font-family: DnProSemiBold;
            font-size: 50px;
            line-height: 59px;
        }
        p {
            margin-top: 15px;
            font-family: DnProMedium;
            font-size: 20px;
            line-height: 25px;
            color: #65686d;
        }
    }
}


@media screen and (max-width: 850px) {
    .firstBlock {
        margin-top: 75px;
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
        img {
            max-width: 100%;
            height: auto;
            order: 1;
        }
        &__text {
            order: 2;
            width: 100%;

            padding-bottom: 0;
            margin-top: 25px;
            h2 {
                font-size: 40px;
                line-height: 50px;
            }
            p {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}