@keyframes waving{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
    }
} 
.wavy {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 100px 0;

    &__wave--top {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -2px;
        display: flex;
        left: -50%;
        order: -1;
        img {
            height: auto;
            width: 100vw;
        }
        :nth-child(2n) {
            position: relative;
            right: 1px;
        }
        animation: linear 20s infinite waving;
    }
    &__wave--bottom {
        order: 2;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 2px;
        display: flex;
        left: -50%;
        img {
            height: auto;
            width: 100vw;
            transform: rotate(180deg);
        }
        :nth-child(2n) {
            position: relative;
            right: 1px;
        }
        animation: linear 20s infinite reverse waving;
    }
}


.block {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wavyBlock {
    background: #FCF2D4;
}

.firstBlock {
    padding: 65px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    &--container {
        max-width: 1250px;
        width: 90%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__image {
        height: auto;
        align-self: center;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;
        width: max-content;
        margin: 0 25px;

        h2 {
            font-family: DnProSemiBold;
            font-size: 50px;
            line-height: 59px;
        }
        p {
            margin-top: 15px;
            font-family: DnProMedium;
            font-size: 20px;
            line-height: 25px;
            color: #65686d;
        }
    }
}

@media screen and (max-width: 1300px) {
    .firstBlock {
        &__image {
            width: 50%;
            height: auto;
            order: 1;
        }
        &__text {
            width: 50%;
        }
    }
}
@media screen and (max-width: 850px) {
    .firstBlock {
        &--container {
            flex-direction: column;
            width: 90%;
        }

        &__image {
            width: 100%;
            height: auto;
            order: 1;
        }
        &__text {
            order: 2;
            width: 100%;

            padding-bottom: 0;
            margin: 25px 0 0 0;
            h2 {
                font-size: 40px;
                line-height: 50px;
            }
            p {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}