.white {
    color: black;
    background: white;
}
.black {
    color: white;
    background: black;
}

.heroBanner {
    position: relative;
    min-height: 529px;
    height: min-content;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__buttons {
        display: flex;
        margin: 47px 0 59px 0;
        justify-content: center;
    }
    &__button {
        font-family: "DnProSemiBold";
        font-size: 17px;
        padding: 13px 0px;
        border-radius: 40px;
        width: 293px;
        text-align: center;

        margin: 0 9px 0 9px;
        position: relative;
    }
}

.logo {
    width: 76px;
    height: 33px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}
.header {
    &__content {
        position: relative;
        z-index: 100;
        width: 90%;
        margin: 0 5%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }


    height: 80px;



    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        p {
            margin-left: 7px;
            font-family: "LongJohnson";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
        }
    }
    
    nav {
        font-family: "DnProSemiBold";
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        //center
        left: 50%;
        transform: translateX(-50%);
        ul {
            margin-block-start: 0;
            list-style: none;
            padding-inline-start: 0;
            display: flex;
            li {
                margin: 0 15px;
                cursor: pointer;
            }
        }
    }

    &__button {
        font-family: "DnProSemiBold";
        border-radius: 40px;
        color: #000000;
        border-radius: 40px;
        background-color: white;
        font-size: 17px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 11px 38px;
        height: min-content;
    }
}

.heroBanner__text {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-family: DnProBold;
        font-size: 40px;
        width: max-content;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    p {
        margin-block-start: 0;
        margin-block-end: 0;

        margin-top: 33px;
        
        text-align: center;
        width: 608px;
        line-height: 21px;
        font-family: DnProMedium;
        font-size: 18px;
    }
    img {
        display: inline;
        position: static;

    }
}


@media screen and (max-width: 850px) {
    .heroBanner{
        align-items: flex-start;
        &__buttons {
            display: block;
        }
        &__button {
            margin: 0 0 20px 0 ;
        }
        &__text {
            align-items: flex-start;
            h1 {
                width: 100%;
                max-width: 500px;
            }
            p {
                max-width: 500px;
                width: 100%;
                text-align: left;
            }
        }
    }
    .header__content {
        align-items: flex-start;
    }
    nav { 
        display: none;
    }
}