.lastCallToAction {
    margin-top: 159px;

    font-family: 'DnProSemiBold';
    font-size: 26px;

    width: 90%;
    padding-bottom: 30px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        position: relative;
        p {
            width: 100%;
            font-family: DnProBoldItalic;
            margin-bottom: 52px;
        }
        img {
            max-width: 100vw;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &__button {
        padding: 31px 50px;
        background: black;
        border-radius: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: white;
            font-family: DnProSemiBold;
            font-size: 27px;
    
            strong {
                font-family: DnProBoldItalic;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .lastCallToAction {
        margin-top: 50px;
    }
}