.subBox {
    &--container {
        background: linear-gradient(180deg, rgba(241, 161, 93, 0.444) 0%, rgba(220, 35, 35, 0.296) 100%);
        width: 657px;
        height: 335px;
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        margin: 50px;
        overflow: hidden;
    }
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 321.5px);
    grid-template-rows: repeat(2, 160.5px);
    gap: 14px;
    width: 100%;
    height: 100%;
    &__box {
        position: absolute;
        width: 321.5px;
        height: 160.5px;
        box-sizing: border-box;

        border-radius: 24px;
        color: white;
        font-family: DnProBold;
        position: relative;
        box-sizing: border-box;
        padding: 5px 0 0 0;
        cursor: pointer;
        box-sizing: border-box;

        &__title {
            font-size: 47px;
            margin-left: 20px;
            line-height: 55px;
        }
        &__price {
            font-size: 32px;
            position: absolute;
            bottom: 7px;
            right: 13px;
        }

    }
}

.amethyst {
    background: linear-gradient(180deg, #BB6BD9 0%, #9B51E0 100%);
    transform-origin: top left;
}
.emerald {
    background: linear-gradient(180deg, #6FCF97 0%, #27AE60 100%);
    transform-origin: bottom left;
}
.lava {
    background: linear-gradient(180deg, #F2994A 0%, #EB5757 100%);
    transform-origin: right top;

}
.sky {
    background: linear-gradient(180deg, #56CCF2 0%, #2D9CDB 100%);
    transform-origin: bottom right;
}