.subBox {
    &--container {
        background: linear-gradient(180deg, rgba(241, 161, 93, 0.444) 0%, rgba(220, 35, 35, 0.296) 100%);
        width: 657px;
        height: 335px;
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        margin: 50px;
        overflow: hidden;
    }
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 321.5px);
    grid-template-rows: repeat(2, 160.5px);
    gap: 14px;
    width: 100%;
    height: 100%;
    &__box {
        position: absolute;
        width: 321.5px;
        height: 160.5px;
        box-sizing: border-box;

        border-radius: 24px;
        color: white;
        font-family: DnProBold;
        position: relative;
        box-sizing: border-box;
        padding: 5px 0 0 0;
        cursor: pointer;
        box-sizing: border-box;
        &__title {
            font-size: 47px;
            margin-left: 15px;
            line-height: 55px;
        }
        &__price {
            font-size: 32px;
            position: absolute;
            bottom: 12px;
            right: 15px;
        }
    }
}

.subBox__inBox {
    position: relative;
    width: calc(100% - 30px);
    height: max-content;
    min-height: calc(100% - 12px);
    margin: 0 15px 12px 15px;
    font-family: DnProBold;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        font-size: 47px;
        line-height: 55px;
    }
    &__subTitle {
        font-family: DnProItalic;
    }
    h4 {
        font-size: 20px;
        margin-block-start: 26px;
        margin-block-end: 0;
    }
    ul{
        margin: 5px 0 0 15px;
        padding-inline-start: 0;

        li {
            list-style-type: none;
            font-family: DnProLight;
            line-height: 19px;
            span {
                font-family: DnProMedium;
            }
        }
    }

    &__price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        position: relative;
        &__value {
            position: absolute;
            right: 0;
            bottom: 0;
            height: min-content;
        }
    }
}

.subBoxMobile {
    &--wrapper {
        width: 100%;
        // height: 707px;
        height: auto;
        margin-top: 50px;
        position: relative;
        z-index: 2;
        display: none;
    }
    &--container {
        width: 100%;
        display: flex;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
    }
    width: 90%;
    &__firstBox {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__inBox {
        &--wrapper {
            min-height: 100%;
            z-index: -1;
        }
        min-height: 430px;
        padding: 0 15px 12px 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__box {
        width: 100%;
        margin-bottom: 13px;

        height: 160.5px;

        border-radius: 24px;
        color: white;
        font-family: DnProBold;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        box-sizing: border-box;

        overflow: hidden;

        display: flex;
        &__title {
            font-size: 47px;
            margin-left: 15px;
            line-height: 55px;
        }
        &__price {
            font-size: 32px;
            position: absolute;
            bottom: 12px;
            right: 15px;
        }
    }
}










// ---------------------------

.amethyst {
    background: linear-gradient(180deg, #BB6BD9 0%, #9B51E0 100%);
    transform-origin: top left;
}
.emerald {
    background: linear-gradient(180deg, #6FCF97 0%, #27AE60 100%);
    transform-origin: bottom left;
}
.lava {
    background: linear-gradient(180deg, #F2994A 0%, #EB5757 100%);
    transform-origin: right top;

}
.sky {
    background: linear-gradient(180deg, #56CCF2 0%, #2D9CDB 100%);
    transform-origin: bottom right;
}

//--------------------------
@media screen and (max-width: 850px) {
    .subBox--container {
        display: none;
    }
    .subBoxMobile--wrapper {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .subBox__inBox {
        &__price {
            &__text  {
                font-size: 25px;
                max-width: 90%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .subBox__inBox {
        h4 {
            margin-block-start: 5px;
        }
    }

}